  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: rpolnx
      MONGO_INITDB_ROOT_PASSWORD: 92587212

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: rpolnx
      ME_CONFIG_MONGODB_ADMINPASSWORD: 92587212
